*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    display: block;
}

.input-group span{
    background-color: white;
}

menu,
ul,
ol,
li{
    list-style-type: none;
}

h6{
    text-align: end;
}



.bzapp__container{
    
    padding: 48px 160px;
    background: linear-gradient(
        to top,
        #D7DBD6 85%,
        #009688 85%,
        #009688 100%
      );
    height: 100vh;
    width: 100%;
}

/* aside stile ---------------------------------------------------------- */

.bzapp__chatlist{
    position: relative;
    overflow: auto;
    height: 100%;
    background-color: white;
}

.chatlist__header{
    position: sticky;
    top:0;
    z-index: 1;
    background-color: #EAEAEA;
}

.chatlist__head{
    
}

.chatlist__alert{
    padding: 12px;
    background-color:#8EDAFC;
}

.chatlist__searchbar{
    padding: 12px;
    background-color:#FAFAFA;
}

.chatlist__chats{
    
    overflow: scroll;
    background-color: white;
}

.chats__preview{
    display: flex;
    background-color: white;
    border-top: 1px solid #EAEAEA;
    padding: 1rem;
}

.preview__pic {
    align-self: center;
    max-height: 64px;
    aspect-ratio: 1;
    flex-shrink: 0;
    padding: 0;
}


/* main stile ---------------------------------------------------------- */


.bzapp__chatting{
    max-height: 100%;
    background-color: burlywood;
}

.chatting__head{
    background-color: #EAEAEA;
    border-left: grey 1px solid;
}

.chatting__content{
    background-image: url(../img/bg-content.jpg);
    mask-image: sepia(30%) brightness(85%) ;
/* -webkit-filter: sepia(100%) brightness(70%) saturate(129%) contrast(120%); */
/* -moz-filter: sepia(100%) brightness(70%) saturate(129%) contrast(120%); */

    
}

.chatting__input{
    background-color: #EAEAEA;
    border-left: grey 1px solid;

}

.message{
    border-radius: 0.75rem;
    padding: 0.5rem 0.75rem;
    padding-bottom: 0.25rem;
    margin-bottom: 0.75rem;
}

.sent{  
    background-color: #D5F9BA;
}

.received{
    background-color:#FFFFFF;
}